<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html'%}
    {% block content %}
        <main class="container py-5">
            <section class="card card-boty">
                <h1 class="display-1 text-center">CJ MARKERT</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore nihil cupiditate aliquam placeat possimus recusandae velit soluta vero, quis neque, optio totam molestias architecto autem deserunt adipisci quibusdam omnis provident?</p>
                <div class="text-center py-3">
                    <a class="btn btn-primary" href="/signin">
                        Sign in
                    </a>
                    <a class="btn btn-primary" href="signup/">
                        Sign up
                    </a>
                </div>
            </section>  
    
        </main>


    {% endblock %}
    
</body>
</html>